default_job = "check"
env.CARGO_TERM_COLOR = "always"

[jobs.check]
command = ["cargo", "check"]
need_stdout = false

# Run clippy on the default target
[jobs.clippy]
command = ["cargo", "clippy"]
need_stdout = false

[jobs.test]
command = [
  "cargo",
  "nextest",
  "run",
  "--hide-progress-bar",
  "--failure-output",
  "final",
]
need_stdout = true
analyzer = "nextest"

# You can run your application and have the result displayed in bacon,
# if it makes sense for this crate.
[jobs.run]
command = ["cargo", "run", "--", "maps/roundabout.txt"]
need_stdout = true
allow_warnings = true

[jobs.conflict]
command = ["cargo", "run", "--", "maps/roundabout.txt", "-x"]
need_stdout = true
allow_warnings = true

[keybindings]
c = "job:clippy"   # comment this to have 'c' run clippy on only the default target
x = "job:conflict"
